* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 62.5%;

  --hue: 220;
  --primary-color: hsla(var(--hue), 45.9%, 47.8%, 1);
  --primary-color-light: hsla(var(--hue), 14%, 97%, 1);
  --primary-color-hover: hsla(var(--hue), 100%, 14%, 1);
  --headline: hsla(210, 11%, 15%, 1);
  --paragraph: hsla(210, 9%, 31%, 1);
  --brand-beige: hsla(39, 100%, 97%, 1);
  --brand-light: hsla(var(--hue), 23%, 89%, 1);

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html, 
body {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  overflow: overlay;
  background: var(--primary-color-light);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  line-height: 130%;
  color: var(--headline);
}

p {  
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph);
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.button {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: white;

  background: var(--primary-color);

  border:none;
  border-radius: 4rem;
  padding: 1.6rem 3.2rem;
  margin-bottom: 6rem;
  width: max-content;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  transition: .3s;
}

.button:hover {
  background: var(--primary-color-hover);
}

/* NAVIGATION --------- */

nav {
  display: flex;

  width: 100vw;
  height: var(--nav-height);

  position: fixed;
  top: 0;
  z-index: 100;
}

nav.scroll {
  background: var(--primary-color);
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav.scroll a,
nav.scroll span {
  color: white;
}

nav.scroll svg path {
  stroke: white;
}

.logo {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--headline);
  letter-spacing: .08rem;
}

.logo span {
  font-weight: 700;
  color: var(--primary-color);
}

nav svg path {
  stroke: var(--primary-color)
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* HOME --------- */

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: "";
  width: 100%;
  height: calc(75% + var(--nav-height));

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background: var(--brand-light)
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraph);

  margin: 2.4rem 0 3.2rem;
}

#home img {
  width: 26.3rem;
  display: block;
  margin-inline: auto;
  object-position: 0 .2rem;
}

#home .button {
  margin-inline: auto;
}

div.stats {
  width: 100%;
  padding-block: 4rem;
  margin-inline: auto;

  background: var(--brand-beige);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;

  border: .1rem solid var(--brand-light);
  border-radius: .6rem;
}

.stat h3 {
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--headline);
  margin-bottom: 0.4rem;
}

.stat p {
  margin: 0;
  color: var(--primary-color);
}

/* MENU EXPANDED --------- */
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  display: none;
}

body.menu-expanded .close-menu {
  display: block;
}

body.menu-expanded .menu {
  display: block;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  background: var(--primary-color);
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: calc(6rem + var(--nav-height));
}

.menu ul li a {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: white;
}

.menu .button {
  background: #FFFFFF;
  padding: 1.6rem 3.2rem;
  margin: 4.8rem 0 8rem;
  
  border-radius: 4rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--primary-color);
  text-transform: uppercase;

  display: inline-block;
}

.menu .button:hover {
  background: var(--primary-color);
  color: white;
  border: none;

  filter: brightness(1.1);
}

.social-link {
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: 400;

}

.social-link svg path {
  stroke: white;
}

.social-link a {
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

body.menu-expanded .logo,
body.menu-expanded span {
  position: relative;
  z-index: 10;
  color: white;
}

body.menu-expanded nav button.close-menu {
  position: relative;
  z-index: 10;
}

body.menu-expanded button path {
  stroke: white;
}

/* SERVICES --------- */

#services header h2 {
 margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  text-align: left;
  
  padding: 2.4rem;
  border: .1rem solid var(--brand-light);
  border-radius: .6rem;
  background: white;
}

#services .card circle {
  fill: var(--brand-light);
}

#services .card path {
  stroke: var(--primary-color);
}

#services .card h3 {
  margin-block: 1.6rem;

  font-size: 2.4rem;
  line-height: 3.1rem;
}

/* ABOUT --------- */
#about {
  text-align: left;
  background: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about img {
  margin-top: 6rem;
  max-width: 100%;
}

/* contact --------- */
#contact {
  text-align: left;
  background: white;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: .8rem;

  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph);
}

#contact img {
  max-width: 100%;
}

/* FOOTER --------- */
footer {
  background: var(--primary-color);
  padding-block: 6rem;
  text-align: left;
}

footer .wrapper a {
  margin-bottom: 2.4rem;
  
  color: white;
  font-size: 4rem;
  line-height: 130%;
  letter-spacing: .16rem;
}

footer .wrapper span {
  color: white;
  font-size: 4rem;
  line-height: 130%;
  letter-spacing: .16rem;
}

footer p {
  color: var(--brand-beige);
  margin: 2.4rem 0 3.2rem;
  line-height: 2;
}

footer .social-link a {
  margin: 0;
  
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 700;
  color: var(--brand-beige);
  stroke: var(--brand-beige);
  
  gap: .8rem;
  justify-content: flex-start;
}

/* BACK TO TOP --------- */

a#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transition: .2s;
}

a#backToTopButton.show {
  opacity: 1;
  visibility: visible;
}

a svg circle{
  fill: var(--primary-color);
}

/* RESPONSIVITY --------- */
@media (min-width: 1024px) {
  /* GENERAL --------- */
  body {
    overflow: auto;
  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  /* NAVIGATION --------- */

  /* reset --------- */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: 1;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background: initial;
    background: initial;
  }

  nav#navigation .wrapper .open-menu,
  nav#navigation .wrapper .close-menu,
  nav#navigation .wrapper .social-link {
    display: none;
  }

  nav#navigation .wrapper .logo {
    text-decoration: none;
    font-size: 2.4rem;
    color: var(--headline);
    letter-spacing: .08rem;
  }

  nav#navigation.scroll .wrapper .logo {
    color: white;
  }

  nav#navigation .wrapper .logo span {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--primary-color);
  }  

  nav#navigation.scroll .wrapper .logo span {
    color: white;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: var(--primary-color);

    opacity: 0.7;
    transition: opacity 0.4s;
  }

  nav#navigation .menu li a.active,
  nav#navigation .menu li a:hover {
    font-weight: 700;
    opacity: 1;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.0rem 2.4rem;

    border: .1rem solid var(--primary-color);
    border-radius: 4rem;

    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-color);
  }

  nav#navigation .menu a.button.active,
  nav#navigation .menu a.button:hover {
    background: var(--primary-color);
    color: white;
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--primary-color-light);
    opacity: .6;
    transition: opacity 0.4s;
  }

  nav#navigation.scroll .menu ul li a.active,
  nav#navigation.scroll .menu ul li a:hover {
    color: white;
    opacity: 1;
  }

  nav#navigation.scroll .menu a.button {
    border-color: white;
    color: white;
  }

  
  nav#navigation.scroll .menu a.button.active,
  nav#navigation.scroll .menu a.button:hover {
    background: white;
    color: var(--primary-color);
  }

  nav#navigation .menu li a::after {
    content: '';

    width: 0%;
    height: .2rem;
    background-color: var(--primary-color);

    position: relative;
    bottom: -2.4rem;
    left: -.8rem;
    
    display: block;
    transition: .2s;
  }

  nav#navigation .menu li a:hover.active,
  nav#navigation .menu li a:hover:after {
    width: 100%;
    padding-inline: .8rem;
  }
  
  nav#navigation.scroll .menu li a:after {
    background-color:  white;
    transition: .2s;
  }
  
  nav#navigation.scroll .menu li a.active:after,
  nav#navigation.scroll .menu li a:hover:after {
    width: 100%;
    padding-inline: .8rem;
  }

  /* HOME --------- */
  #home::before {
    height: calc(94% - var(--nav-height))
  }
  
  #home {
    padding-top: var(--nav-height);
  }  

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas: 
    'A B'
    'C C';
  }

  #home .col-a {
    text-align: left;
    align-self: center;
  }

  #home .stats {
    grid-area: C;

    padding-block: 6rem;
    flex-direction: row;
    gap: 0;
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home .content p {
    font-size: 1.8rem;
  }

  #home .stats p {
    margin-bottom: 0;
  }

  #home .button {
    margin: 0;
  }

  #home img {
    width: 100%;
  }

  #home .stats .stat + .stat {
    border-left: .1rem solid var(--primary-color);
  }

  #home .stats .stat {
    flex: 1;
  }

  /* SERVICES --------- */
  #services h2 {
    width: 47rem;
    margin-inline: auto;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #services .card {
    width: 40%;
    flex-grow: 1;
  }

  /* ABOUT --------- */
  #about .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about .col-b {
    align-self: center;
  }

  /* ABOUT --------- */
  #contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: 'A B'
  }

  #contact .col-a {
    align-self: center;
  }

  #contact h2 {
    width: 40.4rem;
  }

  #contact img {
    width: 100%;
  }

  /* FOOTER --------- */
  footer {
    padding-block: 8rem;
  }

  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B'
  }

  footer .wrapper p {
    margin-bottom: 0;
  }

  footer .col-b{
    align-self: center;
    justify-self: flex-end;
  }

}
